EXPO_PUBLIC_SUPABASE_URL=https://qzmeyhtpkyjlgvehffud.supabase.co
EXPO_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_c6yXg-U5fNnrUD9PTPfPpg_rJOZ07cs
EXPO_PUBLIC_API_BASE_URL=https://news-api-egmd.onrender.com
EXPO_PUBLIC_GOOGLE_PLAY_BASIC_MONTHLY_PRODUCT_ID=bazaarnexa_basic_monthly
EXPO_PUBLIC_GOOGLE_PLAY_BASIC_YEARLY_PRODUCT_ID=bazaarnexa_basic_yearly
EXPO_PUBLIC_GOOGLE_PLAY_PRO_MONTHLY_PRODUCT_ID=bazaarnexa_pro_monthly
EXPO_PUBLIC_GOOGLE_PLAY_PRO_YEARLY_PRODUCT_ID=bazaarnexa_pro_yearly
